redirectsOrigin = "config"
plugins = []
headers = []

[functions]

[functions."*"]

[build]
publish = "/Users/morlock/fun/02_PowerShell_Projects/psscript/dist"
publishOrigin = "config"
commandOrigin = "config"
command = "npm run build"
base = "/Users/morlock/fun/02_PowerShell_Projects/psscript/src/frontend"

[build.environment]
NODE_VERSION = "20"

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]